@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");

header {
  display: flex;
  align-items: center;
  margin: 68px 0px 68px 123px;
}
header img {
  width: 100px;
  padding-right: 30px;
}

header > p {
  font-size: 48px;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
}

main {
  border-top: 1px solid rgb(236, 232, 232);
  padding-top: 100px;
}
.choice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  margin: 30px;
  padding: 10px;
  font-size: 36px;
  line-height: 44px;
  border-radius: 5px;
  border: 0.1px solid rgb(229, 222, 222);
}

.valid {
  font-size: 30px;
  line-height: 60px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 44px 24px 44px 24px;
  height: 150px;
  width: 250px;
  text-align: center;
}

footer {
  margin-top: 200px;
  text-align: center;
  color: rgb(180, 172, 172);
}

footer span {
  font-weight: bold;
  color: black;
}
